*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.menu-logo {
    width: 12rem;
    margin-right: 15rem;
}
.menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:#F28123;
    padding: 1rem;
}
h1 {
    text-align: center;
    color: #563F1B;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.neon {
    margin: 2rem;
	color: #fff;
	text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
}
.menu-enlaces a{
    text-decoration: none;
    font-weight: 900;
    margin: 20px;
    color: #563F1B;
    align-content: center;
}
.menu-enlaces{
align-content: center;
}
.menu-fotos {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.menu-fotos img{
    width: 25rem;
}
.shopping {
    background-color:#F28123;
}
.shopping img {
    width: 3rem;
    margin-left: 35rem;
}
nav img {
    width: 5vh;
}
.menu-carrito {
    width: 4rem;
}
